.container,
.closedQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  flex-direction: column;
}

.closedQuestion.finished h3 {
  margin-bottom: 0rem;
}

.closedQuestion,
.openedQuestion {
  font-family: "Recursive", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #333333;

  margin-bottom: 2.5rem;

  width: 30rem;
  min-height: 6.5rem;
  border-radius: 0.5rem;
  padding: 0 1.5rem;

  background-color: #fff;
}

.closedQuestion img {
  cursor: pointer;
}

.openedQuestion {
  display: flex;
  justify-content: space-between;

  background-color: #ffffd4;
  padding: 1.8rem;
}

.openedQuestion h3 {
  font-size: 18px;
  font-weight: 400;
}

.openedQuestion img {
  cursor: pointer;
  margin-top: 10.5rem;
}

.closedQuestion.finished img {
  cursor: default;
}

.through {
  text-decoration: line-through;
}

.correct {
  color: #2fbe34;
}

.soso {
  color: #ff922e;
}

.wrong {
  color: #ff3030;
}

.zap {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.zip {
  display: flex;
  gap: 0.7rem;
}

.zip,
.zip > h4 {
  font-family: "Recursive", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zip h4 {
  border-radius: 0.5rem;
  width: 8rem;
  height: 3.7rem;

  color: #fff;
}
.buttonCorrect {
  text-align: center;
  background-color: #2fbe34;
}

.buttonSoso {
  text-align: center;
  background-color: #ff922e;
}

.buttonWrong {
  text-align: center;
  background-color: #ff3030;
}
